<img src="/assets/hero.jpg" alt="Harshit &amp; Heta">

<section>
  <h1><span class="harshit">Harshit Sanghvi</span> &amp; <span class="heta">Heta Sheth</span> are getting married on November 19, 2013 in Ahmedabad, GJ.</h1>

  <table width="100%" border="4" cellpadding="4" cellspacing="4">
      <tbody><tr>
      <th scope="col"><h2> About <span class="s">Harshit </span></h2></th>
      <th scope="col"><h2> About <span class="e">Heta </span></h2></th>
      </tr>
      <tr>
      <th scope="col"><a href="http://about.me/harshit" target="new"><img src="/assets/about_harshit.jpg" alt="About.me -Harshit" longdesc="http://about.me/harshit"></a></th>
      <th scope="col"><a href="http://about.me/hetasheth" target="new"><img src="/assets/about_heta.jpg" alt="About.me -Heta" longdesc="http://about.me/hetasheth"></a></th>
      </tr>
      </tbody>
  </table>

  <h2>Ceremony</h2>
  <p>The wedding ceremony will be held at <a href="https://www.google.com/maps?q=govardhan+party+plot&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=91.186963,214.277344&amp;hq=govardhan+party+plot&amp;t=m&amp;z=17&amp;iwloc=A">Govardhan Party Plot</a> at 7 o'clock in the evening on November 19, 2013</p>

  <h2>Location</h2>
  <p><a href="https://www.google.com/maps?q=govardhan+party+plot&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=91.186963,214.277344&amp;hq=govardhan+party+plot&amp;t=m&amp;z=17&amp;iwloc=A" target="new" id="map">
            <span>
                Govardhan Party Plot<br>
                Thaltej, Ahmedabad, GJ
            </span>
      </a></p>

  <h2>Wedding Events</h2>
      <p>Garba - Nov 18, 2013 9PM
          <br>Jaan Prasthan - Nov 19, 2013 3.30PM
          <br>Jaan Aagamana - Nov 19, 2013 5.30PM
          <br>Hast Milap - Nov 19, 2013 7.30PM
          <br>Vidai - Nov 19, 2013 9.30PM </p>


  <h2>Contact</h2>

      <p>
      <pre>Mr. Pradip Sanghvi - +91-989-839-4905<br>Mr. Hemant Sheth   - +91-942-801-7979</pre>
      </p>


  <h2>Guestbook</h2>
    <div class="fb-comments" data-href="http://harshitheta.us" data-colorscheme="light" data-numposts="5"></div>

  <h3><span class="harshit">H</span><span>&amp;</span><span class="heta">H</span></h3>
</section>
