// Sizing
$width: 640px;

// Colors
$harshit-color: #009900;
$heta-color: #990099;
$link-color: #179fb8;
$text-color: #333;

// Media Queries
$iphone-query: "all and (max-width: 480px)"; // Only width, not device width
